@model IEnumerable<ShoppingMobile.Models.DTO.MobileDTO>

@{
    ViewBag.Title = "EachMobileDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Mobile Details</h2>

<div class="panel panel-default">
    @foreach (var x in Model)
    {
        <div class="panel-heading">@x.MobileName</div>
        <div class="panel-body">
            <div class="col-sm-3 col-md-6" style="color:blue">
                <a href="http://localhost:56829/ZoomImages/@x.Url" class="cloud-zoom" rel="adjustX: 10, adjustY:-4">
                    <img src="~/Images/@x.Url" width="400" height="400" />
                </a>

            </div>
            <div class="col-sm-9 col-md-6">
                <h3><span id="mobilename" style="color:black"><b>MobileName:</b></span></h3>

                <h6><span id="mobilename" style="color:black">@x.MobileName</span></h6>

                <h3><span id="mobilename" style="color:black"><b>Features:</b></span></h3>

                <h6><span id="mobilename" style="color:black">@x.Features</span></h6>

                <h3><span id="mobilename" style="color:black"><b>Color:</b></span></h3>
                <h4><span id="mobilename" style="color:black">@x.color</span></h4>
                <h3><span id="mobilename" style="color:black"><b>Sim Type</b></span></h3>
                <h4><span id="mobilename" style="color:black">@x.SimType</span></h4>
                <h3><span id="mobilename" style="color:black"><b>Model:</b></span></h3>

                <h6><span id="mobilename" style="color:black">@x.model</span></h6>

                <h3><span id="mobilename" style="color:black"><b>Price:</b></span></h3>

                <h6><span id="mobilename" style="color:black">@x.Price</span></h6>


            </div>

        </div>

        <div>

            <a id="btn_add" href="@Url.Action("AddToCart", "ShoppingCart", x)" class="btn btn-info btn-lg" style="margin-left:60px">
                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
            </a>

            <a id="btn_add" href="@Url.Action("Index", "Home")" class="btn btn-info btn-lg" style="margin-left:60px">
                <span class="glyphicon glyphicon-eye-open"></span> Continue shopping
            </a>
            <br />
            <br />

        </div>
    }



</div>